# Server (runtime envs)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=replace-me-openssl-rand-base64-32

# Keep in sync with livekit.yaml
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Client (must be provided during build with args)
VITE_LIVEKIT_URL=ws://127.0.0.1:7880
