# SERVER
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=3aeae9bf0ba23a96e80c8dd562697c09f6aceb81b9de153f3c243c23542630b9

LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# CLIENT
VITE_LIVEKIT_URL=ws://127.0.0.1:7880