port: 7880
bind_addresses:
  - ""
rtc:
  tcp_port: 7881
  port_range_start: 50000
  port_range_end: 60000
  use_external_ip: true
  enable_loopback_candidate: false
redis:
  address: localhost:6379
turn:
  enabled: true
  domain: livekit-turn.domain.com
  tls_port: 5349
  udp_port: 3478
  external_tls: true
keys:
  devkey: secret
webhook:
  api_key: devkey
  urls:
    - http://localhost:3000/api/livekit/webhook
